.btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    background-color: var(--clr-cyan);
    color: var(--clr-light);
    padding: 0.5em 1em;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(56, 189, 248, 0.5),
    0 6px 6px  rgba(56, 189, 248, 0.5), 0 0 100px -10px var(--clr-cyan);
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(56, 189, 248, 0.25),
    0 10px 10px  rgba(56, 189, 248, 0.22), 0 0 120px -10px var(--clr-cyan);
}

hr {
    height: 0;
    color: inherit;
}
/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */